#ignore data files
*.csv
*.xlsx
*.png
*/data/
*/*/data/
*/*/data/*
*/data/*
*/dtree_graphs/
*/*/dtree_graphs/
*/*/dtree_graphs/*
*/dtree_graphs/*
*.ipynb_checkpoints/
*/.ipynb_checkpoints/
*.idea/
*/.idea/
*/*/.idea/
*/*/.idea/*
*/.idea/*
*.DS_Store
**/.DS_Store