#ignore data files
*.csv
*.xlsx
*.png
*/data/
*/*/data/
*/*/data/*
*/data/*
*/dtree_graphs/
*/*/dtree_graphs/
*/*/dtree_graphs/*
*/dtree_graphs/*
*.ipynb_checkpoints/
*/.ipynb_checkpoints/
*.idea/
*.DS_Store